body {
  background-color: rgb(13, 113, 172);
  color: #ccc;
  font-size: 16px;
}

body a {
  color: aqua
}

body ul {
  list-style-type: none;
}

.App {
  text-align: center;
  
  padding: 20px;
  max-width: 480px;
  margin: 40px auto;
  
  background-color: #222;
}